<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 数据库连接地址账号密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.107.102.214:3306/welfare"
                        userId="root"
                        password="ykj2018">
        </jdbcConnection>
        <!-- 生成entity类存放位置  -->
        <javaModeloggerenerator targetPackage="cn.dezhi.welfare.partner.entity.dataObject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModeloggerenerator>

        <!-- 生成xml文件存放位置 -->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成dao类存放位置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="cn.dezhi.welfare.partner.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--<table tableName="wel_goods" domainObjectName="GoodsDo"-->
               <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"></table>-->
        <!--<table tableName="wel_op_history" domainObjectName="OpHistoryDo"-->
               <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"></table>-->
        <!--<table tableName="wel_partner" domainObjectName="PartnerDo"-->
               <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"></table>-->
        <!--<table tableName="wel_goods_brand" domainObjectName="BrandDo"-->
               <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"></table>-->
        <!--<table tableName="wel_goods_type" domainObjectName="TypeDo"-->
               <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"></table>-->
    </context>
</generatorConfiguration>